anthropic==0.52.2
cohere==5.14.0
docx2txt==0.8
google-cloud-discoveryengine==0.13.6
google-cloud-bigquery-storage==2.29.1
invoke==2.2.0
langchain-google-vertexai==2.0.15
langchain-openai==0.3.8
llama-index-readers-microsoft-onedrive==0.3.0
llamaindex-py-client==0.1.19
numpy==2.0.2
openai==1.66.3
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pgvector==0.3.6
psycopg2-binary==2.9.10
pyarrow==19.0.1
pyparsing==3.2.1
pypdf==5.3.1
python-multipart==0.0.20
python-pptx==1.0.2
Scrapy==2.14.1
spacy==3.8.3
sqlalchemy-bigquery @ https://github.com/googleapis/python-bigquery-sqlalchemy/archive/refs/tags/v1.10.0rc1.zip#sha256=46b35fbd1d956200cb475345670a5a5ea4055e9861154e12fafbef8f24b08817
sqlparse==0.5.3
sqlvalidator==0.0.20
timeout-decorator==0.5.0
