cohere==4.32
docx2txt==0.8
google-cloud-discoveryengine==0.11.11
google-cloud-bigquery-storage==2.24.0
invoke==2.0.0
langchain-google-vertexai==0.1.1
langchain-openai==0.0.8
llama-index-readers-microsoft-onedrive==0.1.7
llamaindex-py-client==0.1.16
numpy==1.25.0
openai==1.14.2
packaging==23.2
pandas==2.1.1
pdf2image==1.17.0
pgvector==0.2.3
psycopg2-binary==2.9.9
pyarrow==14.0.1
pyparsing==3.1.2
pypdf==4.0.1
python-pptx==0.6.23
Scrapy==2.11.2
spacy==3.7.2
sqlalchemy-bigquery @ https://github.com/googleapis/python-bigquery-sqlalchemy/archive/refs/tags/v1.10.0rc1.zip
sqlparse==0.4.4
sqlvalidator==0.0.20
timeout-decorator==0.5.0
